<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>WDI Blog</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="container">
    <h1 class="center">WDI Blog</h1>

    <ul class="menu menu-up">
      <li class="menu-el"><a class='menu-el-link' href="/">Home</a></li>
      <li class="menu-el"><a class='menu-el-link' href="/new">New post</a></li>
    </ul>
    
    <%= yield %>
  </div>

</body>
</html>