<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>WDI Blog</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1>WDI Blog</h1>
  <ul class="menu">
    <li class="menu-el"><a href="/">Home</a></li>
    <li class="menu-el"><a href="/new">New post</a></li>
  </ul>
  
  <%= yield %>

</body>
</html>