<ul>
  <% @posts.each do |post| %>
    <li><%= post['title']%><a href="/posts/<%= post['id'] %>/edit">edit</a><form method="post" action="/posts/<%= post['id'] %>/delete"><button type="submit">Delete</button></form></li>
  <% end %>
</ul>