<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>WDI Shleters</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="container">
    <h1 class="center"><a class='menu-el-link' href="/">WDI Shleters</a></h1>
    
    <%= yield %>
  </div>

</body>
</html>