!!!
%html  
  
  %head  
    %title GA movies
    
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    
    %link{ rel: "stylesheet", href: "//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" }
    %link{ rel: "stylesheet", href: "/css/style.css" }
  
  %body
    
    %h1.center.background-contrast.border-separator GA movies
    
    %div.container= yield

    %script{ src: "https://code.jquery.com/jquery.js" }
    %script{ src: "//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js" }