/ display list of movies
.row.margin-top-15
  .col-xs-offset-2.col-xs-8
    - if @movies.size == 0
      %p Sorry no results
    - else
    %ul.list-group
      - @movies.each do |movie|
        %li.list-group-item
          %a{ href: "/movie/#{movie["imdbID"]}" }= movie["Title"]