/ display a single movie  
.row.margin-top-15
  
  .col-xs-offset-2.col-xs-6
    %h2= @movie["Title"]
    - unless @movie["imdbRating"] == 'N/A'
      %h3= "Rating: <span class='badge'>#{@movie["imdbRating"]}</span>"
    %ul.list-group
      - @movie.each do |key, value|
        - unless key == "Poster"
          %li.list-group-item
            %strong= key
            =value

  - unless @movie["Poster"] == 'N/A'
    .col-xs-4
      %img{ src: @movie["Poster"] }