/* ++++ GENERAL */
html, body {
  font-family: Georgia, 'Times New Roman', Times;
}

h1,h2,h3,h4,h5,h6 {
  color: #666;
}

h1 {
  font-size: 3em;
}

a {
  text-decoration: none;
  color: #666;
}

a:hover {
  background: #f9fc7e;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

.center {
  text-align: center;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.margin-top-30 {
  margin-top: 30px;
}
/* ---- GENERAL */

/* ++++ MODULES */
/* ++++ menu module */
.menu {
  list-style: none;
  text-align: center;
  padding: 0;
}

.menu-up {
  position: relative;
  margin-top: -30px;
}

.menu-el {
  display: inline-block;
  font-style: italic;
  font-size: 20px;
}

.menu-el-link {
  padding: 2px 10px;
}
/* ---- menu module */

/* ++++ form module */
.form {
  max-width: 600px;
  margin: 0 auto;
  padding: 15px 0;
}

.form-label, .form-input {
  display: block;
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 15px;
}

.form-label {
  width: 20%;
  text-align: right;
  padding: 5px 2px;
  padding-right: 10px;
}

.form-input {
  width: 80%;
  padding: 5px 2px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-input-text {
  min-height: 300px;
}

.form-buttons {
  text-align: right;
}

.form-button {
  display: inline-block;
  width: 100px;
  padding: 5px;
  background-color: #f03;
  color: #fff;
  border: none;
  border-bottom: 3px solid #c20027;
  text-transform: uppercase;
  font-style: normal;
  font-family: Georgia, 'Times New Roman', Times;
  font-size: 14px;
}

.form-button:hover {
  background-color: #eb002f;
}
/* ---- form moduel */

/* ++++ list module */
.list {
  list-style: none;
  text-align: left;
  padding: 0;
}

.list-el-link {
  font-style: italic;
  font-size: 20px;
  color: #222;
  text-transform: uppercase;
  padding: 10px;
  display: inline-block;
}

.list-el-link:hover {
  color: #f03;
  background: none;
}

.link-el-link-small {
  font-size: 12px;
}
/* ---- list module */

/* ++++ post module */
.post {
  max-width: 600px;
  margin: 0 auto;
}

.post-title {
  text-align: center;
}

.post-abstract {
  font-size: 16px;
  font-style: italic;
  text-align: center;
}

.post-body {
  text-align: justify;
}

.post-comments {
  padding: 50px;
  background-color: #eee;
}

.post-comments-title {
  margin: 30px 0 10px;
  text-align: center;
}

.post-comment {
  margin-bottom: 20px;

}
/* ---- post module */

/* ++++ action module */
.actions {
  padding: 0;
  list-style: none;
  text-align: right;
}

.action {
  font-size: 16px;
  font-style: italic;
  text-align: center;
  display: inline-block;
}

.actions-link {
  display: block;
  width: 100px;
  padding: 5px;
  background-color: #f03;
  color: #fff;
  border: none;
  border-bottom: 3px solid #c20027;
  text-transform: uppercase;
  font-style: normal;
  font-family: Georgia, 'Times New Roman', Times;
  font-size: 14px;
}

.actions-link:hover {
  background-color: #eb002f;
}
/* ---- action module */
/* ---- MODULES */